@using Fidelizacion.Models;

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="table-title">
        <div class="row">
            <div class="col-xs-6">
                <h3>Productos con Baja Rotación</h3>
            </div>
            <div class="col-xs-6 text-right">
                <img src="@Url.Content("~/Content/logo.jpg")" height="56" />
            </div>
        </div>
        <hr />
    </div>
</div>

@if (ViewBag.nreporte == 0)
{
    <div class="alert alert-danger">
        No existe información bajo los filtros indicados.
    </div>
}
else
{

    <div class="row">
        <div class="col-md-10">

            <div>
                <table id="table-rotacion" class="table table-hover table-bordered highchart" data-graph-container="#graphcontainer" data-graph-type="column" data-graph-datalabels-enabled="1" data-graph-pie-show-in-legend="1">
                    <caption>Productos con Baja Rotación</caption>
                    <colgroup>
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Canjes</th>
                            <th data-graph-type="line">Stock Inicial</th>
                            <th data-graph-skip="1">Ratio Rotación</th>
                            <th data-graph-skip="1">Cumple Meta</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ReporteCanje producto in ViewBag.reporte)
                        {
                            <tr class="@((producto.isMeta())?"":"danger")">
                                <td>@producto.nombre</td>
                                <td>@producto.cantidad</td>
                                <td>@producto.stock_inicial</td>
                                <td>@String.Format("{0:P2}.", producto.getRatio())</td>
                                <td class="text-center"><span class="glyphicon @((producto.isMeta())?"glyphicon-ok":"glyphicon-remove")"></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div>
                <div id="graphcontainer">
                </div>
            </div> 

        </div>
        <div class="col-md-2">

            <div>
                <div id="table-detail">
                    <div class="row">
                        <div class="col-xs-2" style="width:90px;"><b>Año: </b></div>
                        <div class="col-xs-8"><span id="txt-anio"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2" style="width:90px;"><b>Categoría: </b></div>
                        <div class="col-xs-8"><span id="txt-idcategoria"></span></div>
                    </div>
                </div>
            </div>

            <hr />

            <button class="btn btn-default" onclick="saveGraph()" style="width:100px">Guardar</button>
            <button class="btn btn-default" onclick="printGraph()" style="width:100px">Imprimir</button>

        </div>
    </div>

    <div>
        <div id="table-foot">
            <br/>
            <div class="row">
                <div class="col-xs-3" style="width:180px;"><b>Fecha: </b>@DateTime.Now.ToString("dd/MM/yyyy")</div>
                <div class="col-xs-9 text-right info" style="display: none">Información confidencial para uso exclusivo de Mercados Peruanos</div>
            </div>
        </div>
    </div>

    <hr/>

}