@using Fidelizacion.Models;

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.nmodalidades == 0)
{
    <div class="alert alert-danger">
        El producto seleccionado no presenta modalidades de canje disponibles.
    </div>
}
else
{

    <div class="row">
        <div class="col-sm-8">

            <div class="row form-group">
                <label class="col-sm-4 form-control-label text-right">Producto</label>
                <div class="col-sm-8 form-inline">
                    <input type="text" class="form-control" value="@ViewBag.producto.nombre_producto" readonly />
                    <input type="hidden" name="idproducto" value="@ViewBag.producto.id_producto_canje"/>
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 form-control-label text-right">Catergoría</label>
                <div class="col-sm-8 form-inline">
                    <input type="text" class="form-control" value="@ViewBag.producto.t_categoria_producto_canje.nombre_categoria_producto " readonly />
                    
                </div>
            </div>
            <div class="row form-group">
                <label class="col-sm-4 form-control-label text-right">Stock</label>
                <div class="col-sm-8 form-inline">
                    <input type="text" class="form-control" name="maximo" value="@ViewBag.producto.getStockByTienda(ViewBag.tienda.id_tienda)" readonly />
                </div>
            </div>
            <div class="row form-group">
                <label for="cantidad" class="col-sm-4 form-control-label text-right">Cantidad</label>
                <div class="col-sm-8 form-inline">
                    <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="" autocomplete="off" />
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <img src="@Url.Content("~/Content/productos/"+ViewBag.producto.id_producto_canje+".jpg")" height="150" alt="producto" />
        </div>
    </div>

    <table class="table table-hover table-bordered">
        <caption>Modalidades</caption>
        <colgroup>
            <col width="80" />
            <col />
            <col />
            <col />
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th>Modalidad</th>
                <th>Puntos</th>
                <th>Importe</th>
            </tr>
        </thead>
        <tbody>
            @foreach (t_modalidad_canje modalidad in ViewBag.producto.t_modalidad_canje)
            {
            <tr>
                <td class="text-center"><input type="radio" name="modalidad" class="" value="@modalidad.id_modalidad_canje" /></td>
                <td>@modalidad.nombre_modalidad_canje</td>
                <td>@modalidad.punto_canje</td>
                <td>@modalidad.importe_canje</td>
            </tr>
            }
        </tbody>
    </table>

    <hr />

    <div class="form-group text-right">        
        <input type="button" value="Aceptar" class="btn btn-primary" onclick="aceptar()" />&nbsp;&nbsp;
        <input type="button" value="Salir" class="btn btn-danger" onclick="cancelar()" />
    </div>

}