@section scripts {
    <script type="text/javascript">
        $(function () {

            $('[name="afiliado"]').keydown(function (e) {
                // Allow: backspace, delete, tab, escape, enter and .
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13/*, 110, 190*/]) !== -1 ||
                    // Allow: Ctrl+A
                    (e.keyCode == 65 && e.ctrlKey === true) ||
                    // Allow: Ctrl+C
                    (e.keyCode == 67 && e.ctrlKey === true) ||
                    // Allow: Ctrl+X
                    (e.keyCode == 88 && e.ctrlKey === true) ||
                    // Allow: home, end, left, right
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    // let it happen, don't do anything
                    return;
                }
                // Ensure that it is a number and stop the keypress
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });

        });

        function getCuenta() {

            if ($('[name="afiliado"]').val() == '') {
                bootbox.alert("Debe indicar el número de documento de la cuenta titular.");
                return;
            }

            var afiliado = $('[name="afiliado"]').val();
            $.get('@Url.Content("~/TransaccionProductoCanje/GetCuenta")', { 'afiliado': afiliado, "_": $.now() }, function (data) {
                $('#afiliado-table').html(data);
                if ($('#afiliado-table .alert').length) {
                    bootbox.alert($('#afiliado-table .alert').html());
                }

                // clear forms
                $('#productos-table').empty();
                $('#carrito-table').empty();
            });
        }

        function verProductos() {
            $.get('@Url.Content("~/TransaccionProductoCanje/GetProductos")', { "_": $.now() }, function (data) {
                $('#productos-table').html(data);
                if ($('#productos-table .alert').length) {
                    bootbox.alert($('#productos-table .alert').html());
                }

                // Datatable
                $('#productos-table table.table').DataTable({
                    'pageLength': 5,
                    'bLengthChange': false,
                    'bFilter': false,
                    'bInfo': false,
                    'language': {
                        'paginate': {
                            'next': 'Siguiente',
                            'previous': 'Anterior'
                        }
                    }
                });

            });

        }

        function filtrar() {
            var idcategoria = $('#producto-form [name="categoria"]').val();
            var producto = $('#producto-form [name="producto"]').val();

            $.get('@Url.Content("~/TransaccionProductoCanje/GetProductos")', { "_": $.now(), 'idcategoria': idcategoria, 'producto': producto }, function (data) {
                $('#productos-table').html(data);
                if ($('#productos-table .alert').length) {
                    bootbox.alert($('#productos-table .alert').html());
                }

                // Datatable
                $('#productos-table table.table').DataTable({
                    'pageLength': 5,
                    'bLengthChange': false,
                    'bFilter': false,
                    'bInfo': false,
                    'language': {
                        'paginate': {
                            'next': 'Siguiente',
                            'previous': 'Anterior'
                        }
                    }
                });

            });
        }

        function varModalidades(idproducto) {
            $.get('@Url.Content("~/TransaccionProductoCanje/GetModalidades")', { 'idproducto': idproducto, "_": $.now() }, function (data) {
                bootbox.dialog({
                    message: data,
                    title: "Ver Modalidad de Canje"
                });

                // validar puntos enteros
                $('[name="cantidad"]').keypress(function (e) {
                    //if the letter is not digit then display error and don't type anything
                    if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                        return false;
                    }
                });
            });
        }

        function cancelar() {
            bootbox.hideAll()
        }

        function listarCarrito() {
            var idcuenta = $('#idcuenta').val();

            $.get('@Url.Content("~/TransaccionProductoCanje/ListCarrito")', { "_": $.now(), 'idcuenta': idcuenta }, function (data) {
                $('#carrito-table').html(data);
            });
        }

        function eliminarCarrito(idmodalidad) {
            bootbox.confirm("¿Está seguro que desea retirar el item de la lista?", function (result) {
                if (result) {
                    $.post('@Url.Content("~/TransaccionProductoCanje/RemoveCarrito")', { 'idmodalidad': idmodalidad }, function (data) {
                        listarCarrito();
                    }, 'json').fail(function (error) { bootbox.alert('Error interno en el servidor: ' + error.responseText) });
                }
            });
            $('div.bootbox-confirm [data-bb-handler="confirm"]').text('Confirmar');
            $('div.bootbox-confirm [data-bb-handler="cancel"]').text('Cancelar');
        }

        function aceptar() {
            // Validar
            var idcuenta = $('#idcuenta').val();
            var idproducto = $('[name="idproducto"]').val();
            var idmodalidad = $('[name="modalidad"]:checked').val();
            var cantidad = $('[name="cantidad"]').val();
            var maximo = $('[name="maximo"]').val();

            if (cantidad == '' || parseInt(cantidad) < 1) {
                bootbox.alert("Debe indicar una cantidad válida.");
                return;
            }

            if (parseInt(cantidad) > parseInt(maximo)) {
                bootbox.alert("No se cuenta con stock disponible para la cantidad indicada.");
                return;
            }

            if ($('[name="modalidad"]:checked').length == 0) {
                bootbox.alert("Debe seleccionar una modalidad.");
                return;
            }

            $.post('@Url.Content("~/TransaccionProductoCanje/AddCarrito")', { 'idcuenta': idcuenta, 'idproducto': idproducto, 'idmodalidad': idmodalidad, 'cantidad': cantidad }, function (data) {
                if (data.Type != 'success') {
                    bootbox.alert(data.Message)
                }else{
                    bootbox.hideAll();
                    listarCarrito();
                }
            }, 'json').fail(function (error) { bootbox.alert('Error interno en el servidor: ' + error.responseText) });

        }

        function grabar() {

            bootbox.confirm("¿Está seguro que desea confirmar el proceso de canje?", function (result) {
                if (result) {
                    var idcuenta = $('#idcuenta').val();

                    $.post('@Url.Content("~/TransaccionProductoCanje/Grabar")', { 'idcuenta': idcuenta }, function (data) {
                        bootbox.dialog({
                            message: data,
                            title: "Ticket de Canje",
                            closeButton: false
                        });
                    });
                }
            });

            // Fixed al boton
            $('div.bootbox-confirm [data-bb-handler="confirm"]').text('Confirmar');
            $('div.bootbox-confirm [data-bb-handler="cancel"]').text('Cancelar');
        }

    </script>
}

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Administración de Puntos</a></li>
    <li class="active">Transacción de Producto Canje</li>
</ol>

<div class="page-header">
    <h2>Transacción de Producto Canje</h2>
    @{ViewBag.Title = "Transacción de Producto Canje";}
</div>

<form onsubmit="return false;">

    <!-- Afiliado -->

    <fieldset id="afiliado-form">
        <legend>Afiliado</legend>
        <div class="row form-group">
            <label for="afiliado" class="col-sm-2 form-control-label text-right">Cuenta Titular</label>
            <div class="col-sm-10 form-inline">
                <input type="text" id="afiliado" name="afiliado" class="form-control" style="width:300px" placeholder="Ingrese N° Documento" maxlength="12" autocomplete="off" />
                <input type="button" value="Buscar Afiliado" class="btn btn-default" onclick="getCuenta()" />
            </div>
        </div>
    </fieldset>

    <div id="afiliado-table" class="table-responsive">

    </div>

    <!-- Producto Canje -->

    <div id="productos-table" class="table-responsive">

    </div>

    <!-- Carrito -->
    
    <div id="carrito-table" class="table-responsive">

    </div>

</form>
