@model Fidelizacion.Models.TarjetaAfiliacionViewModels


@{
    ViewBag.Title = "Nueva tarjeta Afiliación";
}

<h2>Nueva tarjeta Afiliación</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

  
    
    <div class="form-horizontal">
        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
       

        <div class="form-group">
            
            @Html.LabelFor(model => model.numeroTarjeta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.numeroTarjeta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroTarjeta, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.fechaEmision, "Fecha Emisión",htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.fechaEmision, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaEmision, "", new { @class = "text-danger" })
               
            </div>
        </div>
        

        <div class="form-group">
            @Html.LabelFor(model => model.fechaVencimiento,"Fecha Vencimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.fechaVencimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaVencimiento, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="puntos" class="control-label col-md-2">Estado</label>
            <div class="col-sm-1">
                <input type="text" value="Activo" readonly name="puntos" class="form-control" />
            </div>
        </div>


        

      

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" class="btn btn-primary" />
                <input type="button" value="Salir" class="btn btn-danger" />
            </div>
           
                
                @*@Html.ActionLink("Salir", "Index")*@
            
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


}
