@model Fidelizacion.Models.t_tarjeta_afiliacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>t_tarjeta_afiliacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_vencimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vencimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numero_tarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numero_tarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fk_cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fk_cuenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_emision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_emision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_cuenta.numero_cuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_cuenta.numero_cuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pk_tarteja_afiliacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
