@model List<Fidelizacion.Models.t_tarjeta_afiliacion>

@{ Layout = null; }

@if (Model.Count() == 0)
{

    <div class="alert alert-danger">
        No hay registros disponibles
    </div>

}
else
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered" style="width: 100%">
            <colgroup>
                <col width="40" />
                <col width="100" />
                <col />
                <col />
                <col />
                <col />

            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th> N° Tarjeta</th>
                    <th>Fecha Emisión</th>
                    <th> Fecha Vencimiento</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tarjeta in Model)
                {
                    <tr>
                        <td><input type="radio" name="tarjetas-cuenta" value="@tarjeta.id_tarjeta_afiliacion" data-numero="@tarjeta.numero_tarjeta" /></td>
                        <td>@tarjeta.numero_tarjeta</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", tarjeta.fecha_emision)</td>
                        <td>@string.Format("{0:dd/MM/yyyy}", tarjeta.fecha_vencimiento)</td>
                    </tr>

                }
            </tbody>

        </table>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-6 text-right">
            <input type="button" value="Aceptar" class="btn btn-primary" onclick="seleccionarTarjeta();" />
        </div>
        <div class="col-xs-6">
            <input type="button" value="Cancelar" class="btn btn-danger" onclick="bootbox.hideAll()" />
        </div>
    </div>
}
