@model List<Fidelizacion.Models.t_cuenta>

@{ Layout = null; }

@if (Model.Count() == 0)
{

    <div class="alert alert-danger">
        No hay registros disponibles
    </div>

}
else
{

    <div class="table-responsive">
        <table class="table table-hover table-bordered" style="width: 100%">
            <colgroup>
                <col width="40"/>
                <col width="120" />
                <col />
                <col />
                <col />
                <col width="80"/>
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th>N° Documento</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>N° Cuenta</th>
                    <th>Afiliados</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var cuenta in Model)
                {
                    <tr @((@cuenta.t_cuenta1.Where(o => o.estado_cuenta == "A").Count() < 5)?"":"class=danger")>
                        <th>
                            @if (@cuenta.t_cuenta1.Where(o => o.estado_cuenta == "A").Count() < 5)
                            {
                                <input type="radio" name="titulares-cuenta" value="@cuenta.id_cuenta" data-numero="@cuenta.numero_cuenta" />
                            }
                        </th>
                        <td>@cuenta.t_ficha_afiliacion.numero_documento</td>
                        <td>@cuenta.t_ficha_afiliacion.nombre</td>
                        <td>@cuenta.t_ficha_afiliacion.apellidos</td>
                        <td>@cuenta.numero_cuenta</td>
                        <td>@cuenta.t_cuenta1.Where(o => o.estado_cuenta == "A").Count()</td>
                    </tr>

                }
            </tbody>

        </table>
    </div>

    <hr />

    <div class="row">
        <div class="col-xs-6 text-right">
            <input type="button" value="Aceptar" class="btn btn-primary" onclick="seleccionarTitular();" />
        </div>
        <div class="col-xs-6">
            <input type="button" value="Cancelar" class="btn btn-danger" onclick="bootbox.hideAll()" />
        </div>
    </div>

}
