@model IEnumerable<Fidelizacion.Models.t_ficha_afiliacion>

@section scripts {
    <script type="text/javascript">
    $(function () {
        $('#fichaAfiliados-table table.table').DataTable({
            'pageLength': 5,
            'bLengthChange': false,
            'bFilter': false,
            'bInfo': false,
            'language': {
                'paginate': {
                    'next': 'Siguiente',
                    'previous': 'Anterior'
                }
            }
        });


    });


   
    </script>
}




@{
    ViewBag.Title = "Registrar Afiliado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrar Afiliado</h2>
<br />
<div class="form-horizontal">



    <div class="form-group">

        <label for="numeroCuenta" class="col-sm-2 control-label">Afiliado</label>
        <div class="col-md-4">
            <input type="text" name="numeroCuenta" class="form-control" placeholder="IngresarNumero de documento de identidad" />
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Buscar", "Buscar", null,new { @class = "btn btn-default", @role = "button" })
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-default", @role = "button" })
        </div>
    </div>
</div>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <br />

    <div id="fichaAfiliados-table" class="table-responsive">
        <table class="table table-hover table-bordered">
            <colgroup>
                <col  />
                <col />
                <col />
                <col />
                <col />

            </colgroup>
            <thead>
                <tr>
                    <th>
                        N° Documento
                    </th>
                    <th>
                        Tipo Afiliado
                    </th>
                    <th>
                        Afiliado
                    </th>


                    <th>
                        Estado
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.numero_documento)
                        </td>
                        <td>
                            ##
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido_paterno) @Html.DisplayFor(modelItem => item.apellido_materno)
                        </td>



                        <td>
                            @if (item.estado_afiliado.Equals("A"))
                            {
                                <span>Activo</span>
                            }
                            else
                            {
                                <span>Inactivo</span>
                            }
                            @*@Html.DisplayFor(modelItem => item.estado_afiliado)*@
                        </td>

                        <td>

                            @Html.ActionLink("Ver", "Details", new { id = item.pk_ficha_afiliacion }, new { @class = "btn btn-default", @role = "button" }) &nbsp;&nbsp;
                            @Html.ActionLink("Asociado", "Edit", new { id = item.pk_ficha_afiliacion }, new { @class = "btn btn-default", @role = "button" })
                            @*@Html.ActionLink("Delete", "Delete", new { id=item.pk_ficha_afiliacion })*@
                        </td>
                    </tr>
                }
            </tbody>
</table>


    </div>
        
