@using Fidelizacion.Models;

@{
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ncuentas == 0)
{
    <div class="alert alert-danger">
        El N° de documento indicado no presenta alguna cuenta activa, ha caducado o no es un afiliado.
    </div>
}
else if (ViewBag.puntos < 10)
{
    <div class="alert alert-danger">
        La cuenta no dispone de puntos suficientes (mínimo 10 puntos).
    </div>
}
else
{
    
    <table class="table table-hover table-bordered">
        <colgroup>
            <col width="100" />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col width="80" />
        </colgroup>
        <thead>
            <tr>
                <td>DNI</td>
                <td>Nombre</td>
                <td>Apellidos</td>
                <td>Cuenta</td>
                <td>Puntos</td>
                <td>Puntos a Transferir</td>
                <td>Transferir</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var cuenta in (List<t_cuenta>)ViewBag.cuentas)
            {
                <tr>
                    <td>@cuenta.t_ficha_afiliacion.numero_documento</td>
                    <td>@cuenta.t_ficha_afiliacion.nombre</td>
                    <td>@cuenta.t_ficha_afiliacion.apellido_paterno @cuenta.t_ficha_afiliacion.apellido_materno</td>
                    <td>@cuenta.numero_cuenta</td>
                    <td>@cuenta.puntos</td>
                    <td><span id="origen-puntos" style="font-weight:bold; color:red;"></span></td>
                    <td class="text-center">
                        <a href="javascript:void(0)" class="btn btn-success" onclick="transferir()"><span class="glyphicon glyphicon-transfer"></span></a>
                        <input type="hidden" id="origen-id" value="@cuenta.pk_cuenta"/>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}