@section scripts {
<script type="text/javascript">
		$(function(){

			//$('[name="origen"]').typeahead({ source: getNombres() });

			//$('[name="destino"]').typeahead({ source: getNombres() });

		});

		function getCuentaOrigen() {

		    if ($('[name="origen"]').val() == '') {
		        bootbox.alert("Debe indicar el número de documento de la cuenta origen.");
		        return;
		    }

		    if ($('[name="origen"]').val() == $('[name="destino"]').val()) {
		        bootbox.alert("La cuenta origen no puede ser la misma cuenta destino.");
		        return;
		    }

		    var origen = $('[name="origen"]').val();
		    $.get('@Url.Content("~/TransferirPuntos/GetCuentaOrigen")', { 'origen': origen, "_": $.now() }, function (data) {
		        $('#origen-table').html(data);
		        if ($('#origen-table .alert').length) {
		            bootbox.alert($('#origen-table .alert').html());
		        }
		    });
		}

    function getCuentaDestino() {

        if (!$('#origen-id').length) {
            bootbox.alert("Debe de especificar una cuenta origen primero.");
            $('[name="destino"]').val('');
            return;
        }

        if ($('[name="destino"]').val() == '') {
            bootbox.alert("Debe indicar el número de documento de la cuenta destino.");
            return;
        }

        if ($('[name="destino"]').val() == $('[name="origen"]').val()) {
            bootbox.alert("La cuenta destino no puede ser la misma cuenta origen.");
            return;
        }

        var destino = $('[name="destino"]').val();
        $.get('@Url.Content("~/TransferirPuntos/GetCuentaDestino")', { 'destino': destino, "_": $.now() }, function (data) {
            $('#destino-table').html(data);
            if ($('#destino-table .alert').length) {
                bootbox.alert($('#destino-table .alert').html());
            }
        });
    }

    function transferir() {
        if (!$('#origen-id').length) {
            bootbox.alert("Debe de especificar una cuenta origen primero.");
            return;
        }
        if (!$('#destino-id').length) {
            bootbox.alert("Debe de especificar una cuenta destino primero.");
            return;
        }

        var origeid = $('#origen-id').val();
        var destinoid = $('#destino-id').val();

        $.get('@Url.Content("~/TransferirPuntos/ViewTransferencia")', { 'origeid': origeid, 'destinoid': destinoid, "_": $.now() }, function (data) {
            bootbox.dialog({
                message: data,
                title: "Transferencia de Puntos"
            });
        });

    }

    function cancelarTransaccion() {
        bootbox.hideAll()
    }

    function aceptarTransaccion() {
        // Validar & Actualizar Grilla
        var puntos = $('#transferencia-form [name="puntos"]').val();
        var maximo = $('#transferencia-form [name="maximo"]').val();
        var justificacion = $('#transferencia-form [name="justificacion"]').val();

        if (puntos == '' || parseInt(puntos) < 1 || parseInt(puntos) > parseInt(maximo)) {  // Valida que no sobrepase el 80% ni valores negativos
            bootbox.alert("Debe indicar una cantidad válida de puntos.");
            return;
        }

        if (justificacion == '') {
            bootbox.alert("Debe indicar un motivo.");
            return;
        }

        $('#origen-puntos').text('-' + puntos);
        $('#destino-puntos').text('+' + puntos);
        $('#transferir-puntos').val(puntos);
        
        $('#justificacion').val(justificacion);

        var tantes = $('#total-antes').val();
        $('#total-despues').text(parseInt(tantes) + parseInt(puntos));

        var toantes = $('#total-o-antes').val();
        $('#total-o-despues').text(parseInt(toantes) - parseInt(puntos));

        bootbox.hideAll();

        // Bloquear botones
        $('#buscar-origen-btn').prop('disabled', true);
        $('#buscar-destino-btn').prop('disabled', true);
    }

    function grabar() {

        if (!$('#origen-id').length) {
            bootbox.alert("Debe de especificar una cuenta origen primero.");
            return;
        }
        if (!$('#destino-id').length) {
            bootbox.alert("Debe de especificar una cuenta destino primero.");
            return;
        }

        if ($('#transferir-puntos').val() == '') {
            bootbox.alert("No se ha indicado el monto a transferir.");
            return;
        }

        // Transferencia
        bootbox.confirm("¿Está seguro que desea confirmar la trasferencia?", function (result) {
            if (result) {
               // alert($('#justificacion').val());
                $.post('@Url.Content("~/TransferirPuntos/Grabar")', {
                    'origeid': $('#origen-id').val(),
                    'destinoid': $('#destino-id').val(),
                    'puntos': $('#transferir-puntos').val(),
                    'justificacion': $('#justificacion').val()
                }, function (data) {
                    bootbox.alert(data.Message, function () {
                        window.location.href = '@Url.Content("~/Home/Cerrar")';
                    });
                }, 'json').fail(function (error) { bootbox.alert('Error interno en el servidor: ' + error.responseText) });
                //.fail(function(error) { alert(error.responseJSON) });

            }
        });

        // Fixed al boton
        $('div.bootbox-confirm [data-bb-handler="confirm"]').text('Confirmar');

    }

		/*function getNombres(){
			return ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"];
		}*/

</script>
}

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Administración de Puntos</a></li>
    <li class="active">Transferencia de Puntos</li>
</ol>

<div class="page-header">
    <h2>Transferir Puntos</h2> 
    @{ViewBag.Title = "Transferencia de Puntos";}
</div>

<form onsubmit="return false;">

    <div class="row form-group">
        <label for="origen" class="col-sm-2 form-control-label text-right">Cuenta Origen</label>
        <div class="col-sm-10 form-inline">
            <input type="text" name="origen" class="form-control" style="width:300px" placeholder="Ingrese N° Documento" autocomplete="off" />
            <input type="button" id="buscar-origen-btn" value="Buscar Afiliado" class="btn btn-default" onclick="getCuentaOrigen()"/>
        </div>
    </div>

    <div id="origen-table" class="table-responsive">
        
    </div>

    <hr />

    <div class="row form-group">
        <label for="destino" class="col-sm-2 form-control-label text-right">Cuenta Destino</label>
        <div class="col-sm-10 form-inline">
            <input type="text" name="destino" class="form-control" style="width:300px" placeholder="Ingrese N° Documento" autocomplete="off" />
            <input type="button" id="buscar-destino-btn" value="Buscar Afiliado" class="btn btn-default" onclick="getCuentaDestino()"/>
        </div>
    </div>

    <div id="destino-table" class="table-responsive">
        
    </div>

    <input type="hidden" id="transferir-puntos" value=""/>
    <input type="hidden" id="justificacion" value="" />

    <hr />

    <div class="row form-group">
        <div class="col-sm-5 text-right">
            <input type="button" value="Grabar" class="btn btn-primary" style="width:100px" onclick="grabar()" />
        </div>
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-5 text-left">
            <a href="@Url.Content("~/Home/Cerrar")" class="btn btn-danger" style="width:100px">Salir</a>
        </div>
    </div>

</form>
