@section scripts {
<script type="text/javascript">
	$(function(){

		//$('[name="origen"]').typeahead({ source: getNombres() });

		//$('[name="destino"]').typeahead({ source: getNombres() });

	    $('[name="origen"], [name="destino"]').keydown(function (e) {
	        // Allow: backspace, delete, tab, escape, enter and .
	        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13/*, 110, 190*/]) !== -1 ||
	            // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
	            // Allow: Ctrl+C
                (e.keyCode == 67 && e.ctrlKey === true) ||
	            // Allow: Ctrl+X
                (e.keyCode == 88 && e.ctrlKey === true) ||
	            // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
	            // let it happen, don't do anything
	            return;
	        }
	        // Ensure that it is a number and stop the keypress
	        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
	            e.preventDefault();
	        }
	    });

	});

	function getCuentaOrigen() {

		if ($('[name="origen"]').val() == '') {
		    bootbox.alert("Debe indicar el número de documento de la cuenta origen.");
		    return;
		}

		if ($('[name="origen"]').val() == $('[name="destino"]').val()) {
		    bootbox.alert("La cuenta origen no puede ser la misma cuenta destino.");
		    return;
		}

		var origen = $('[name="origen"]').val();
		$.get('@Url.Content("~/TransferirPuntos/GetCuentaOrigen")', { 'origen': origen, "_": $.now() }, function (data) {
		    $('#origen-table').html(data);
		    if ($('#origen-table .alert').length) {
		        bootbox.alert($('#origen-table .alert').html());
		    }
		});
	}

    function getCuentaDestino() {

        if (!$('#origen-id').length) {
            bootbox.alert("Debe de especificar una cuenta origen primero.");
            $('[name="destino"]').val('');
            return;
        }

        if ($('[name="destino"]').val() == '') {
            bootbox.alert("Debe indicar el número de documento de la cuenta destino.");
            return;
        }

        if ($('[name="destino"]').val() == $('[name="origen"]').val()) {
            bootbox.alert("La cuenta destino no puede ser la misma cuenta origen.");
            return;
        }

        var destino = $('[name="destino"]').val();
        $.get('@Url.Content("~/TransferirPuntos/GetCuentaDestino")', { 'destino': destino, "_": $.now() }, function (data) {
            $('#destino-table').html(data);
            if ($('#destino-table .alert').length) {
                bootbox.alert($('#destino-table .alert').html());
            }
        });
    }

    function transferir() {
        if (!$('#origen-id').length) {
            bootbox.alert("Debe de especificar una cuenta origen primero.");
            return;
        }
        if (!$('#destino-id').length) {
            bootbox.alert("Debe de especificar una cuenta destino primero.");
            return;
        }

        var origeid = $('#origen-id').val();
        var destinoid = $('#destino-id').val();

        $.get('@Url.Content("~/TransferirPuntos/ViewTransferencia")', { 'origeid': origeid, 'destinoid': destinoid, "_": $.now() }, function (data) {
            bootbox.dialog({
                message: data,
                title: "Transferencia de Puntos"
            });

            // validar limite del motivo
            $('[name="justificacion"]').keyup(function (e) {
                var tval = $(this).val(),
                    tlength = tval.length,
                    set = 500,
                    remain = parseInt(set - tlength);
                if (remain <= 0) {
                    $(this).val((tval).substring(0, set - 1))
                }
            });

            // validar puntos enteros
            $('[name="puntos"]').keypress(function (e) {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

        });

    }

    function cancelarTransaccion() {
        bootbox.hideAll()
    }

    function aceptarTransaccion() {
        // Validar & Actualizar Grilla
        var puntos = $('#transferencia-form [name="puntos"]').val();
        var maximo = $('#transferencia-form [name="maximo"]').val();
        var justificacion = $('#transferencia-form [name="justificacion"]').val();

        if (puntos == '' || parseInt(puntos) < 1 || parseInt(puntos) > parseInt(maximo)) {  // Valida que no sobrepase el 80% ni valores negativos
            bootbox.alert("Debe indicar una cantidad válida de puntos.");
            return;
        }

        if (justificacion == '') {
            bootbox.alert("Debe indicar un motivo.");
            return;
        }

        $('#origen-puntos').text('-' + puntos);
        $('#destino-puntos').text('+' + puntos);
        $('#transferir-puntos').val(puntos);
        
        $('#justificacion').val(justificacion);

        var tantes = $('#total-antes').val();
        $('#total-despues').text(parseInt(tantes) + parseInt(puntos));

        var toantes = $('#total-o-antes').val();
        $('#total-o-despues').text(parseInt(toantes) - parseInt(puntos));

        bootbox.hideAll();

        // Bloquear botones
        $('#buscar-origen-btn').prop('disabled', true);
        $('#buscar-destino-btn').prop('disabled', true);
    }

    function grabar() {

        if (!$('#origen-id').length) {
            bootbox.alert("Debe de especificar una cuenta origen primero.");
            return;
        }
        if (!$('#destino-id').length) {
            bootbox.alert("Debe de especificar una cuenta destino primero.");
            return;
        }

        if ($('#transferir-puntos').val() == '') {
            bootbox.alert("No se ha indicado el monto a transferir.");
            return;
        }

        // Transferencia
        bootbox.confirm("¿Está seguro que desea confirmar la trasferencia?", function (result) {
            if (result) {
               // alert($('#justificacion').val());
                $.post('@Url.Content("~/TransferirPuntos/Grabar")', {
                    'origeid': $('#origen-id').val(),
                    'destinoid': $('#destino-id').val(),
                    'puntos': $('#transferir-puntos').val(),
                    'justificacion': $('#justificacion').val()
                }, function (data) {
                    bootbox.alert(data.Message, function () {
                        window.location.href = '@Url.Content("~/Home/Cerrar")';
                    });
                }, 'json').fail(function (error) { bootbox.alert('Error interno en el servidor: ' + error.responseText) });
                //.fail(function(error) { alert(error.responseJSON) });

            }
        });

        // Fixed al boton
        $('div.bootbox-confirm [data-bb-handler="confirm"]').text('Confirmar');
        $('div.bootbox-confirm [data-bb-handler="cancel"]').text('Cancelar');

    }

		/*function getNombres(){
			return ["Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut","Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York","North Dakota","North Carolina","Ohio","Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"];
		}*/

</script>
}

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Administración de Puntos</a></li>
    <li class="active">Transferencia de Puntos</li>
</ol>

<div class="page-header">
    <h2>Transferir Puntos</h2> 
    @{ViewBag.Title = "Transferencia de Puntos";}
</div>

<form onsubmit="return false;">

    <div class="row form-group">
        <label for="origen" class="col-sm-2 form-control-label text-right">Cuenta Origen</label>
        <div class="col-sm-10 form-inline">
            <input type="text" name="origen" class="form-control" style="width:300px" placeholder="Ingrese N° Documento" autocomplete="off" maxlength="12"/>
            <input type="button" id="buscar-origen-btn" value="Buscar" class="btn btn-default" onclick="getCuentaOrigen()"/>
        </div>
    </div>

    <div id="origen-table" class="table-responsive">
        
    </div>

    <hr />

    <div class="row form-group">
        <label for="destino" class="col-sm-2 form-control-label text-right">Cuenta Destino</label>
        <div class="col-sm-10 form-inline">
            <input type="text" name="destino" class="form-control" style="width:300px" placeholder="Ingrese N° Documento" autocomplete="off" maxlength="12"/>
            <input type="button" id="buscar-destino-btn" value="Buscar" class="btn btn-default" onclick="getCuentaDestino()"/>
        </div>
    </div>

    <div id="destino-table" class="table-responsive">
        
    </div>

    <input type="hidden" id="transferir-puntos" value=""/>
    <input type="hidden" id="justificacion" value="" />

    <hr />

    <div class="row form-group">
        <div class="col-sm-5 text-right">
            <input type="button" value="Grabar" class="btn btn-primary" style="width:100px" onclick="grabar()" />
        </div>
        <div class="col-sm-2 text-center">
        </div>
        <div class="col-sm-5 text-left">
            <a href="@Url.Content("~/Home/Cerrar")" class="btn btn-danger" style="width:100px">Salir</a>
        </div>
    </div>

</form>
